# Bases de datos - SQL
Gestión Empresarial con Big Data - Nivel I. Universidad de Almería

## Introducción
* Del inglés _Structured Query Language_.
* Lenguaje más extendido para consultar y manipular Bases de datos relacionales.
* SQL es un lenguaje estándar. No obstante, existen gran cantidad de _dialectos_.

## Usos
* Consulta de datos.
* Manipulación de datos (Inserción, modificación, eliminación).
* Definición de datos (Tablas, Índices, Vistas, ...).
* Configuración de seguridad (Usuarios, permisos, ...).

## Sintaxis básica

In [ ]:
%%sql
SELECT COLUMNAS_SEPARADAS_POR_COMAS
FROM TABLA
WHERE CONDICION;

## Operaciones de consulta sencillas para el filtrado de filas y columnas

### Mostrar todos los empleados

In [ ]:
%%sql
SELECT * 
FROM Empleados;

### Mostrar las filas de todos los empleados con empleo _Vendedor_

In [ ]:
%%sql
SELECT * 
FROM Empleados
WHERE empleo = 'Vendedor';